<section id="wrapper">
    <div class="login-register d-flex align-items-center px-4">
        <div class="login-box card">
            <div class="card-body">
                <form (submit)="login()" class="form-horizontal form-material">
                    <h3 class="box-title text-center">Login</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">Ingresar</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>¿No tienes una cuenta? <a class="text-info"><b>Registrar</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>